DISCOGS_CONSUMER_KEY=xxx
DISCOGS_CONSUMER_SECRET=xxx
# 32+ char random string
SESSION_PASSWORD=complex_password_at_least_32_characters_long

QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN="xxx"
QSTASH_CURRENT_SIGNING_KEY="xxx"
QSTASH_NEXT_SIGNING_KEY="xxx"